extends layout

block content
  h1= title
  p I am Sreeyuth Gunnam, and one interesting fact about me is that I enjoy building software projects that combine AI, LLM's, and real-world problem solving.